@font-face {
    font-family: "h2";
    src: url("../../fonts/dealerplate\ california.otf");
}

@font-face {
    font-family: "text";
    src: url("../../fonts/dealerplate\ california.otf");
}

@font-face {
    font-family: "title";
    src: url("../../fonts/Fyodor-Bold.ttf");
}

@font-face {
    font-family: "dialogue";
    src: url("../../fonts/decterm.ttf");
}

:root {
    --color1: rgb(0, 110, 31);
}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 720px;
    height: 720px;
}

.visual {
    margin-bottom: 10px;
    position: relative;
    max-width: 1247px;
    max-height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.container {
    justify-content: center;
    display: flex;
    max-width: 280px;
    max-height: 450px;
}

.container2 {
    justify-content: center;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 677px;
    max-height: 450px;
}

img {
    max-width: 677px;
}

.bg {
    max-width: 677px;
    /* position: absolute; */
}
 
.overlay {
    position: absolute;
}

.char {
    max-width: 280px;
    /* position: absolute; */
    opacity: 0;
}

.char2 {
    max-width: 280px;
    /* position: absolute; */
    opacity: 0;
    /* transform: scaleX(-1); */
}

.extra1 {
    max-width: 450px;
    /* left: 0; */
    position: absolute;
    opacity: 0;
}

.extra2 {
    max-width: 450px;
    /* right: 0; */
    position: absolute;
    opacity: 0;
}

h2 {
    font-size: 35px;
    font-family: "text";
    margin-top: -3px;
    color: white;
}

h1 {
    font-family: "title";
    color: var(--color1);
}

p {
    font-family: "dialogue";
    font-size: 30px;
}

.Mage {
    font-size: 40px;
    font-family: "h2";
    color: rgb(182, 0, 0);
}

.Elf {
    font-size: 40px;
    font-family: "h2";
    color: rgb(0, 184, 138);
}

.Stanley {
    color: rgb(134, 43, 0);
    -webkit-text-stroke: 1px rgb(134, 43, 0);
}

.Zack {
    color: rgb(23, 85, 38);
    -webkit-text-stroke: 1px rgb(23, 85, 38);
}

.Sammy {
    color: rgb(0, 111, 155);
    -webkit-text-stroke: 1px rgb(0, 111, 155);
}

.Brad {
    color: rgb(214, 139, 0);
    -webkit-text-stroke: 1px rgb(214, 139, 0);
}

.STOPLOOKINGHERE1A {
    color: rgba(23, 85, 38, 0);
}

.STOPLOOKINGHERE {
    color: rgba(23, 85, 38, 0);
}

.dialogueBox {
    margin-top: 5px;
    /* border-radius: 15px; */
    border: 3px solid var(--color1);
    padding: 7px;
    min-height: 200px;
    max-height: 200px;
    width: 800px;
    background-color: #000000c5;
    /* bottom: 0; */
}
.button {
    z-index: 1;
    margin-top: -60px;
    width: 800px;
    text-align: end;
    font-size: 40px;
    cursor: pointer;
}