@font-face {
    font-family: "h2";
    src: url("../../fonts/PatrickHand-Regular.ttf");
}

@font-face {
    font-family: "text";
    src: url("../../fonts/Children.ttf");
}

@font-face {
    font-family: "title";
    src: url("../../fonts/Fyodor-Bold.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 720px;
    height: 720px;
}

.visual {
    position: relative;
    width: 900px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

img {
    max-width: 900px;
}

.bg {
    max-width: 900px;
    position: absolute;
}
 
.overlay {
    position: absolute;
}

.char {
    max-width: 450px;
    /* position: absolute; */
    opacity: 0;
}

.char2 {
    max-width: 450px;
    /* position: absolute; */
    opacity: 0;
    transform: scaleX(-1);
}

.extra1 {
    max-width: 450px;
    left: 0;
    position: absolute;
    opacity: 0;
}

.extra2 {
    max-width: 450px;
    right: 0;
    position: absolute;
    opacity: 0;
}

h2 {
    font-size: 25px;
    font-family: "text";
    margin-top: -3px;
    color: white;
}

h1 {
    font-family: "title";
    color: rgb(143, 100, 62);
}

.Mage {
    font-size: 40px;
    font-family: "h2";
    color: rgb(182, 0, 0);
}

.Elf {
    font-size: 40px;
    font-family: "h2";
    color: rgb(0, 184, 138);
}

.Stanley {
    color: rgb(134, 43, 0);
    -webkit-text-stroke: 1px rgb(134, 43, 0);
}

.Zack {
    color: rgb(23, 85, 38);
    -webkit-text-stroke: 1px rgb(23, 85, 38);
}

.Sammy {
    color: rgb(0, 111, 155);
    -webkit-text-stroke: 1px rgb(0, 111, 155);
}

.Brad {
    color: rgb(214, 139, 0);
    -webkit-text-stroke: 1px rgb(214, 139, 0);
}

.STOPLOOKINGHERE1A {
    color: rgba(23, 85, 38, 0);
}

.STOPLOOKINGHERE {
    color: rgba(23, 85, 38, 0);
}

.dialogueBox {
    margin-top: 5px;
    border-radius: 15px;
    border: 3px solid rgb(143, 100, 62);
    padding: 7px;
    min-height: 200px;
    max-height: 200px;
    width: 700px;
    background-color: #000000c5;
    /* bottom: 0; */
}
.button {
    z-index: 1;
    margin-top: -60px;
    width: 700px;
    text-align: end;
    font-size: 40px;
    cursor: pointer;
}