@font-face {
    font-family: "h2";
    src: url("fonts/ferrum.otf");
}

@font-face {
    font-family: "text";
    src: url("fonts/Antique\ Book\ Cover.otf");
}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 720px;
    height: 720px;
}

.visual {
    position: relative;
    width: 1100px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* img {
    max-width: 720px;
} */

.bg {
    position: absolute;
}
 
.overlay {
    position: absolute;
}

.char {
    /* position: absolute; */
    opacity: 0;
}

.char2 {
    /* position: absolute; */
    opacity: 0;
    transform: scaleX(-1);
}

.extra1 {
    left: 0;
    position: absolute;
    opacity: 0;
}

.extra2 {
    right: 0;
    position: absolute;
    opacity: 0;
}

h2 {
    font-size: 30px;
    font-family: "text";
    margin-top: -3px;
    color: white;
}

h1 {
    margin-top: -80px;
    color: white;
}

.Mage {
    font-size: 40px;
    font-family: "h2";
    color: rgb(182, 0, 0);
}

.Elf {
    font-size: 40px;
    font-family: "h2";
    color: rgb(0, 184, 138);
}

.Stanley {
    color: rgb(134, 43, 0);
}

.dialogueBox {
    border-color: white;
    border: 3px solid white;
    position: absolute;
    padding: 7px;
    min-height: 200px;
    width: 830px;
    background-color: #000000c5;
    z-index: 4;
    bottom: 0;
}
.button {
    position: absolute;
    font-size: 40px;
    right: 0;
    bottom: 0;
    cursor: pointer;
}